<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^$ public/     [L]
   RewriteRule (.*) public/$1 [L]
</IfModule>

** this file should be in the public_html folder
** replace ‘public’ with the domain name e.g. example.com/$1